*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}